@import "tailwindcss";

/* Main Background */

.main {
    background: radial-gradient(circle at top, #5c6269 0%, #1a1c1f 100%);

}

/* Waves Animation */

.wave1 {
    animation: wave1-move 16s linear infinite;
}

.wave2 {
    animation: wave2-move 14s 1s linear infinite;
}

.wave3 {
    animation: wave3-move 12s 1.5s linear infinite;
}

.wave4 {
    animation: wave4-move 10s 2s linear infinite;
}

/* My Name Attributes */

.myname-bg {
    background: linear-gradient(to right, #71777e 0%, #1a1c1f 20%, #1a1c1f 80%, #71777e 100%);
    background-size: 200% 100%;
    animation: myname-bg-move 5s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;

}

.myname {
    color: transparent;
}

/* View Works Effect - Didn't use @keyframes even can get animation at back too  */

button.view-works {
    background: linear-gradient(to top, #5c6269 50%, #1a1c1f 50%);
    background-size: 100% 200%;
    background-position: 0 0;
}

@media (min-width: 769px) {
    button.view-works:hover {
        background-position: 0 100%;
    }
}

span.view-works {
    background: linear-gradient(to top, #1a1c1f 50%, #5c6269 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (min-width: 769px) {
    span.view-works:hover {
        background-position: 0 100%;
    }
}

@media (max-width: 768px) {
    button.view-works {
        animation: view-works-bg-move 1s linear infinite alternate;
    }

    span.view-works {
        animation: view-works-bg-move 1s linear infinite alternate;
    }
}